/*Global Reset*/
* {
	Margin: 0;
	Padding: 0;
	color: white;
	font-family: Arial, Helvetica;
	font-size: small;
}
#wrapper {
	margin: 0 auto;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	width: 960px;
	background-color: #2f2f2f;
	background-image: url("images/bg.png");
	background-repeat: repeat-x;
}
#navi {
	height: 60px;
	background-image: url("images/navi.png");
	text-align: center;
}
#navi li {
	list-style-type: none;
	display: inline;
	margin-left: 40px;
	margin-right: 40px;
	position: relative;
	top: 13px;
}
#navi a {
	color: white;
	font-weight: bold;
	font-size: 140%;
	text-decoration: none;
}
#navi a:hover {
	color: black;
	background-color: white;
}
#header {
	height: 367px;
	background-image: url("images/header.png");
}
#content {
	height: 500px;
	margin-left: 10px;
	margin-right: 10px;
}
#leftcontent {
	background-image: url("images/contentLeft.png");
	background-repeat: no-repeat;
	float: left;
	width: 700px;
	height: 480px;
	border-spacing: 10px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
#rightcontent {
	background-image: url("images/contentRight.png");
	background-repeat: no-repeat;
	float: right;
	width: 200px;
	height: 480px;
	border-spacing: 10px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
#footer {
	height: 45px;
	vertical-align: middle;
	position: relative;
	top: 15px;
}
#footer p {
	text-align: center;
}
#iframecontent {
	height: 95%;
	width: 96%;
	padding: 5px;
}
#videoframe {
	width: 200px;
	height: 130px;
	padding-top: 10px;
}
iframe {
	border-style: none;
}
td {
	padding: 5px;
}
p {
	padding-bottom: 5px;
	padding-right: 5px;
	text-align: justify;
}
a {
	text-decoration: none;
}
a:hover {
	background-color: white;
	color: black;
}
h1 {
	font-size: 150%;
	padding-top: 5px;
	padding-bottom: 10px;
}
h2 {
	font-size: 120%;
	padding-top: 5px;
	padding-bottom: 10px;
}
h3 {
	font-size: 110%;
	padding-top: 5px;
	padding-bottom: 10px;
}